*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

body { 
    font-family: 'SimSun', 'Hiragino Sans GB', sans-serif; 
    line-height: 1.6; 
    background-color: #fefefe; 
    color: #333; 
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none;
}

/* .fixed{
    position: fixed;
    top: 0;
    width: 3200px;
} */